<div class="attributeDirectives">
  <p
    class="attributeDirectives__text"
    [appStyle]="{
      border: '2px solid red',
      borderRadius: '5px',
      background: 'yellow',
      color: 'red'
    }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae natus ut
    quibusdam at doloremque neque ratione ullam dolorum perferendis earum?
  </p>
  <p
    class="attributeDirectives__text"
    [appStyle]="{
      border: '5px solid black',
      borderRadius: '5px',
      background: 'orange',
      color: 'red'
    }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus,
    velit dolores molestias iusto doloremque! Odit dolores sint quis fugit?
  </p>
  <p
    class="attributeDirectives__text"
    [appStyle]="{
      border: '3px solid blue',
      borderRadius: '0px',
      background: 'pink',
      color: 'red'
    }"
  >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore earum dolor
    iste quod perspiciatis eaque quisquam at ipsa ipsum neque?
  </p>
  <p
    class="attributeDirectives__text"
    [appStyle]="{
      border: '3px solid green',
      borderRadius: '5px',
      background: 'yellow',
      color: 'red'
    }"
  >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, itaque
    accusamus. Earum eum dolor enim nesciunt rem minima pariatur incidunt.
  </p>
  <p
    class="attributeDirectives__text"
    [appStyle]="{
      border: '5px solid pink',
      borderRadius: '0px',
      background: 'yellow',
      color: 'blue'
    }"
  >
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsam
    aliquid sit repudiandae voluptatem necessitatibus excepturi dolorum
    architecto voluptas laboriosam?
  </p>
</div>
