.task-board {
  padding: 10px 15px 0 15px;
  &__title {
    text-align: center;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__btn {
    padding: 0 15px;
    min-height: 30px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    cursor: pointer;
  }
}
