<div class="home">
  <div class="home__buttons">
    <button class="home__btn" (click)="goToGoodsPage()">Переход на товары</button>
    <button class="home__btn" (click)="goToBasketPage()">Переход на корзина</button>
    <button class="home__btn" (click)="goToDirectivesPage()">Переход на директивы</button>
    <button class="home__btn" (click)="goToAnimationsPage()">Переход на анимации</button>
    <button class="home__btn" (click)="goToFormPage()">Переход на формы</button>
    <button class="home__btn" (click)="goToSpecialist()">Переход на It специалистов</button>
    <button class="home__btn" (click)="goToTaskBoardPage()">Переход на доску задач</button>
  </div>
</div>
