<div class="list-tasks">
    <div class="list-tasks__column first-column">
        <h3 class="list-tasks__title">Очередь</h3>
        <hr>
        <task *ngFor="let item of  companyStoreService.startArrayTasks" [task]="item"></task>
        
    </div>
    <div class="list-tasks__column second-column">
        <h3 class="list-tasks__title">В процессе</h3>
        <hr>
    </div>
    <div class="list-tasks__column third-column ">
        <h3 class="list-tasks__title">Тестируем</h3>
        <hr>
    </div>
    <div class="list-tasks__column fourth-column ">
        <h3 class="list-tasks__title">Готово</h3>
        <hr>
    </div>
    
</div>

