<div class="structureDirectives">
  <button class="structureDirectives__toggle" (click)="toggle()">Toggle</button>
  <ng-template [appIfNot]="isVisible">
    <div class="structureDirectives__body" >
      <h1>Title</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, a
        molestias. Incidunt voluptates voluptatum illo nemo illum at beatae!
        Quis!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque pariatur
        culpa odit qui consequatur id nesciunt, asperiores eius dolorum, nisi
        minima perferendis ea aliquid quod repellat vitae officiis, itaque
        veritatis!
      </p>
    </div>
  </ng-template>
</div>
